*{
	margin: 0;
	padding: 0;
}

html, body, #root{
	height: 100%;
	overflow: hidden;
}

.left-side{
	background: #f6f6f6;
	height: 100vh;
	color:white;
}

.right-side{
	background: #fff;
	height: 100vh;
	padding: 0px;
}

.diagram-container{
	background: #fff;
	width: 100%;
	height: 100vh;
}



.my-node{
	margin-top: 10px;
	text-align: center;
	
    border-radius: 5px;
    font-family: sans-serif;
    color: white;
    overflow: visible;
    font-size: 11px;
    border: solid 1px #303032;

  /*  width: 6rem;*/
}

.my-node .header{
	background: rgba(0,0,0,0.3);
}

.my-node .body{

    display: flex;
   /* flex-direction: column;*/

	background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2));
}

.my-node .body .inputs, .my-node .body .outputs{
	-webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.my-node .body .inputs{
	margin-right: 10px;
}

.my-node .body .port-item{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.my-node .body .port-name{
	 padding: 0 5px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}


.my-node .body .port-circle{
	width: 12px;
	height: 12px;
	margin: 2px;
	border-radius: 4px;
	background: white;
	cursor: pointer;
}

.my-node .body .port-circle:hover{
	background: rgb(22, 219, 147);
}
